<div class="container-fluid">
  <h3>管理页面</h3>
  <div class="row">
    <div class="col-md-3">
      <nav class="navbar bg-light bg-danger">
        <ul class="nav nav-tabs-justified">
          <li class="list-group-item list-group-item-danger">
            <i class="fa fa-check fa-lg"><a routerLink="feedback">  反馈管理</a></i>
          </li>
          <li class="list-group-item list-group-item-success">
            <i class="fa fa-tree fa-lg"><a routerLink="version">  版本管理</a></i>
          </li>
          <li class="list-group-item list-group-item-warning">
            <i class="fa fa-user-plus fa-lg"><a routerLink="users">  用户管理</a></i>
          </li>
          <li class="list-group-item list-group-item-primary">
            <i class="fa fa-calendar-times-o fa-lg"><a routerLink="prompt">  设置提示</a></i>
          </li>
          <li class="list-group-item list-group-item-info">
            <i class="fa fa-files-o fa-lg"><a routerLink="report">  结果管理</a></i>
          </li>
        </ul>
      </nav>
    </div>

    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
