<div class="row">
  <div class="col-md-2">
  <i class="fa fa-user-circle-o" aria-hidden="true"></i>{{ currUser.name }}的模块列表:
  </div>
</div>
<div class="row">
  <ul class="list-group">
    <li *ngFor="let module of currUser.modules" class="list-group-item" [class.list-group-item-danger]="module === selectedModule" (click)="onSelect(currUser, module)"><i class="fa fa-file-code-o fa-lg" aira-hidden="true"></i> {{ module }}</li>
  </ul>
</div>
<div class="row">
  <div class="col-md-2">
  <div class="card bg-primary text-white">当前模块: {{selectedModule}}</div>
  </div>
</div>
<app-module-deliver-info [delivers]="selectedDelivers"></app-module-deliver-info>
